<div class="button-container">
  <button mat-raised-button (click)="Beep()">Beep</button>
  <button mat-raised-button (click)="Reset()">Reset</button>
  <button mat-raised-button (click)="ManualTransaction()">ManualTransaction</button>
  <button mat-raised-button (click)="Swipe()">Swipe</button>
  <button mat-raised-button (click)="DisplayForm('LAF_Welcome.k3z')">Display Form</button>
  <button mat-raised-button (click)="ClearAll()">Clear All</button>
</div>
<div>
  <label>Rich Text Box</label>
  <br>
  <textarea  class="text-area">{{requestresponsetext}}</textarea>
</div>
